.e {
  /* Shorthand for rendering */
  position: absolute;
  border-radius: 5px;
  transition: transform 1s;
}

.f {
  transform: scaleX(-1);
}

.ew32 {
  width: 32px;
}

.ew64 {
  width: 64px;
}

.ew72 {
  width: 72px;
}

.ew164 {
  width: 164px;
}

.eh32 {
  height: 32px;
}

.eh52 {
  height: 52px;
}

.eh100 {
  height: 100px;
}
