.e {
  /* Shorthand for rendering */
  position: absolute;
  border-radius: 5px;
  width: var(--element-width);
  height: var(--element-height);
  background-color: saddlebrown;
  /* TODO Remove background-color transition when we have proper images */
  transition: background-color 250ms, transform 1s;
}
